### Configuration file for creating, training, and testing ###
###             a convolutional neural network             ###

[General]
directory = networks/
device = gpu

[Network]
activation = relu
cost_func = MSE
weights_folder = weights/
#If a weights folder is found when the network is initialized via train or predict,
# the network will be structured according to the weights and not the parameters below.
num_layers = 3
num_filters = 4
filter_size = 3

[Training Data]
folders = /nobackup/turaga/data/fibsem_medulla_7col/trvol-250-1-h5/,/nobackup/turaga/data/fibsem_medulla_7col/tstvol-520-1-h5/
data_file = img_normalized.h5
label_file = groundtruth_aff.h5
seg_file = groundtruth_seg.h5

[Testing Data]
folders = /nobackup/turaga/data/fibsem_medulla_7col/trvol-250-2-h5/,nobackup/turaga/data/fibsem_medulla_7col/tstvol-520-2-h5/
data_file = img_normalized.h5
label_file = groundtruth_aff.h5
seg_file = groundtruth_seg.h5

[Training]
use_malis = False
#chunk_size is only used if malis is being used
chunk_size = 10
learning_method = ADAM
learning_rate = 0.0001
beta1 = 0.9
beta2 = 0.9
damping = 1.0e-8
batch_size = 10
num_epochs = 1
early_stop = False
trainer_folder = trainer/
log_folder =  
log_interval = 100
print_updates = True

[Testing]
prediction_folder = results/
prediction_file_name = test_prediction